# Wallust configuration file

# Referece:
# https://github.com/JaKooLit/Hyprland-Dots/blob/main/config/wallust/wallust.toml

# How the image is parsed to get the colours
# full - resized - wal - thumb - fastresize - kmeans
backend = "kmeans"

# What color space to use to produce and select the most prominent colors:
# lab - labmixed - lch - lchmixed - salience - lchansi
color_space = "lchmixed"

# NOTE: All filters will fill 16 colors (from color0 to color15), 16 color
#       variations are the 'illusion' of more colors by opaquing color1 to color5.
# Use the most prominent colors in a way that makes sense, a scheme:
#  * dark        - 8 dark colors, dark background and light contrast
#  * dark16      - Same as `dark` but uses the 16 colors trick
#  * harddark    - Same as `dark` with hard hue colors
#  * harddark16  - Harddark with 16 color variation
#  * light       - Light bg, dark fg
#  * light16     - Same as `light` but uses the 16 color trick
#  * softdark    - Variant of softlight, uses the lightest colors and a dark
#                   background (could be interpreted as `dark` inversed)
#  * softdark16  - softdark with 16 color variation
#  * softlight   - Light with soft pastel colors, counterpart of `harddark`
#  * softlight16 - softlight with 16 color variation
# palette = "dark"

# Difference between similar colors, used by the colorspace:
#  1          Not perceptible by human eyes.
#  1 - 2      Perceptible through close observation.
#  2 - 10     Perceptible at a glance.
#  11 - 49    Colors are more similar than opposite
#  100        Colors are exact opposite
threshold = 11

[templates]
btop.template = "btop-dynamic.theme"
btop.target = "~/.config/btop/themes/dynamic.theme"

cava.template = "cava-config"
cava.target = "~/.config/cava/config"

dunst.template = "dunstrc"
dunst.target = "~/.config/dunst/dunstrc"

niri.template = "niri-colours.kdl"
niri.target = "~/.config/niri/colours.kdl"

rmpc.template = "rmpc-dynamic-theme.ron"
rmpc.target = "~/.config/rmpc/themes/dynamic.ron"

rofi.template = "rofi-colours.rasi"
rofi.target = "~/.config/rofi/colours.rasi"

swaylock.template = "swaylock-config"
swaylock.target = "~/.config/swaylock/config"

waybar.template = "waybar-colours.css"
waybar.target = "~/.config/waybar/colours.css"
waybar-calendar.template = "waybar-calendar.jsonc"
waybar-calendar.target = "~/.config/waybar/waybar-calendar.jsonc"

# Terminals
kitty.template = "kitty-dynamic-theme.conf"
kitty.target = "~/.config/kitty/themes/dynamic.conf"

ghostty.template = "ghostty-dynamic-theme.conf"
ghostty.target = "~/.config/ghostty/themes/dynamic.conf"

# GTK applications
gtk3.template = "gtk.css"
gtk3.target = "~/.config/gtk-3.0/gtk.css"
gtk3-settings.template = "gtk3-settings.ini"
gtk3-settings.target = "~/.config/gtk-3.0/settings.ini"
gtk4.template = "gtk.css"
gtk4.target = "~/.config/gtk-4.0/gtk.css"

# Pywalfox for Firefox and Thunderbird
pywalfox.template = "pywalfox-colours.json"
pywalfox.target = "~/.cache/wal/colors.json"

[hooks]
waybar = "systemctl --user restart waybar"
dunst = "systemctl --user restart dunst"
pywalfox = "pywalfox update"
