# Ignore the Yazi plugins directory
**/yazi/plugins/

# Ignore the Yazi flavors directory
**/yazi/flavors/

# Ignore the custom packages
**/custom-packages/**/*

# Don't the PKGBUILD for the custom packages
!**/custom-packages/**/PKGDBUILD
