# Ghostty configuration file


# Font

# Set the font size to {{ .terminalFontSize }}
font-size = {{ .terminalFontSize }}

# Set the font to {{ .terminalFont }}
font-family = "{{ .terminalFont }}"

# Enable the font features I want
font-feature = zero
font-feature = ss08
font-feature = ss09


# Theme and colours

# Set the theme to Bluloco Dark
theme = "light: BlulocoLight, dark: BlulocoDark"

# Use the theme colours as the window theme
window-theme = ghostty

# Turn off window decorations
window-decoration = none

# Disable the resize overlay
resize-overlay = never

# Set the window padding
window-padding-y = 0
window-padding-x = 0

# Cursor

# Increase the cursor width
adjust-cursor-thickness = 2

# Hide the mouse cursor while typing
mouse-hide-while-typing = true


# Keybindings

# Map Ctrl + [ to ESC
keybind = ctrl+left_bracket=text:\x1b

# Key bind to open a new split
keybind = ctrl+shift+enter=new_split:right

# Use Vim key bindings for new splits
keybind = ctrl+shift+k=new_split:up
keybind = ctrl+shift+j=new_split:down
keybind = ctrl+shift+h=new_split:left
keybind = ctrl+shift+l=new_split:right

# Use Vim key bindings for moving between splits
keybind = ctrl+alt+k=goto_split:up
keybind = ctrl+alt+j=goto_split:down
keybind = ctrl+alt+h=goto_split:left
keybind = ctrl+alt+l=goto_split:right

# Map Ctrl + Shift + R to reload the config
keybind = ctrl+shift+r=reload_config


# Miscellaneous

# Disable auto updating
auto-update = off

# vim: ft=conf
