[Unit]
Description=Awww wallpaper daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Environment=RUST_BACKTRACE=1
ExecStart=/usr/bin/awww-daemon
Restart=on-failure

[Install]
WantedBy=graphical-session.target
