# vi: ft=toml
# chezmoi:template:left-delimiter="||" right-delimiter="||"

# Use .dotfiles as the dotfiles directory
sourceDir = "~/.dotfiles"

# Use Neovim as the merge tool
[merge]
command = "nvim"
args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
