# Set the default terminal
export TERM=xterm-{{ .defaultTerminal }}
export TERMINAL={{ .defaultTerminal }}

# Use librewolf browser as the default browser
export BROWSER=firefox

# Use Neovim as the default editor
export EDITOR=nvim
export VISUAL=nvim

# Use less as the default pager
export PAGER=less

# Use Neovim as the default man viewer
export MANPAGER='nvim +Man!'

# Add cargo to path
# export PATH="$PATH:/home/hanker/.cargo/bin"
