// Main rofi config file
//
// vi: ft=rasi

// References:
// https://github.com/mylinuxforwork/dotfiles/blob/main/share/dotfiles/.config/rofi/config.rasi

// Configuration
configuration {
	modes: [
		drun,
		calc,
		clipboard,
		window,
		run,
		emoji
	];
	font: "{{ .guiFont }} 12";
	show-icons: true;
	icon-theme: "{{ .iconTheme }}";
	display-drun: "";
	display-window: "";
	display-calc: "";
	display-run: "";
	display-emoji: "󰇳";
	display-clipboard: "";
	drun-display-format: "{name}";
	window-format: "{w} {c} {t}";
	hover-select: false;
	scroll-method: 1;
	me-select-entry: "";
	me-accept-entry: "MousePrimary";

	// Key binds
	kb-row-up: [
		"Up",
		"Control+p",
		"Control+k"
	];
	kb-row-down: [
		"Down",
		"Control+n",
		"Control+j"
	];
	kb-row-left: [
		"Control+Page_Up",
		"Control+h"
	];
	kb-row-right: [
		"Control+Page_Down",
		"Control+l"
	];
	kb-remove-to-eol: [
		"Control+K"
	];
	kb-mode-complete: [
		"Control+L"
	];
	kb-accept-entry: [
		"Return",
		"KP_Enter"
	];
	kb-remove-char-back: [
		"BackSpace",
		"Shift+BackSpace"
	];
	kb-mode-next: [
		"Shift+Right",
		"Control+Tab",
		"Alt+l",
		"Alt+Tab"
	];
	kb-mode-previous: [
		"Shift+Left",
		"Control+ISO_Left_Tab",
		"Alt+h",
		"Alt+ISO_Left_Tab"
	];
}

// Include the rofi colours
@theme "colours"

// General settings
* {
	default-border-radius: 15px;

	// Set the default background colour to be transparent
	background-color: transparent;

	// Set the default text colour
	text-color: @text-colour;
}

// Main
window {
	transparency: "real";
	fullscreen: false;
	cursor: "default";
	width: 40em;
	height: 25em;
	spacing: 0;
	padding: 0;
	border: 2px;
	border-radius: @default-border-radius;
	border-color: @border-colour;
	background-image: @wallpaper;
}

mainbox {
	padding: 1em;
	orientation: vertical;
	children: [ inputbar, listbox ];
}

// Inputs
inputbar {
	padding: 2em;
	spacing: 0;
	children: [ prompt, textbox-prompt-colon, entry ];
}

prompt {
	padding: 10px 10px 10px 15px;
	border-radius: 20px 0 0 20px;
	expand: false;
	background-color: @translucent-background;
}

// The weird padding on this is due to one small section
// of the app store logo being darkened
// when there is no right padding on it, which is funky,
// so we have the padding on the right of the prompt
// instead of having the padding on the left of the colon.
textbox-prompt-colon {
	padding: 10px 10px 10px 0;
	str: "";
	expand: false;
	background-color: @translucent-background;
}

entry {
	padding: 10px 0;
	border-radius: 0 20px 20px 0;
	background-color: @translucent-background;
	cursor: text;
}

// Lists
listbox {
	spacing: 0;
	padding: 10px 15px;
	border-radius: @default-border-radius;
	orientation: vertical;
	children: [ listview, mode-switcher];
	background-color: @translucent-background;
}

listview {
	padding: 0;
	spacing: 0;
	columns: 1;
	cycle: true;
	dynamic: true;
	scrollbar: false;
	layout: vertical;
	reverse: false;
	fixed-height: false;
	fixed-columns: true;
	cursor: "default";
}

// Modes
mode-switcher {
	orientation: horizontal;
}

button {
	margin: 0 52px;
	padding: 3px;
	border-radius: 50%;
	cursor: pointer;
}

button selected {
	background-color: @selected-background;
}

// Elements
element {
	padding: 5px;
	border-radius: @default-border-radius;
	cursor: pointer;
}

element selected.normal {
	background-color: @selected-background;
}

element normal.normal {
	background-color: inherit;
}

element normal.urgent {
	background-color: inherit;
}

element normal.active {
	background-color: inherit;
}

element selected.active {
	background-color: @selected-background;
}

element alternate.normal {
	background-color: inherit;
}

element alternate.urgent {
	background-color: inherit;
}

element alternate.active {
	background-color: inherit;
}

element-icon {
	size: 20px;
	padding: 0 5px;
	cursor: inherit;
}

element-text {
	cursor: inherit;
}

// Error message
error-message {
	background-color: @main-background;
	text-transform: capitalize;
	children: [ textbox ];
}

textbox {
	background-color: inherit;
}
