# Kitty configuration


# Options

# Remove Kitty's auto update functionality
# It should have been removed since kitty
# was installed using Pacman,
# but I just want to be safe
update_check_interval 0

# Turn off the error bell
enable_audio_bell no


# Font

# Set the font size to {{ .terminalFontSize }}
font_size         {{ .terminalFontSize }}

# Set the font to {{ .terminalFont }}
font_family       family="{{ .terminalFont }}"

# Automatically get the font variants
bold_font         auto
italic_font       auto
bold_italic_font  auto


# Theme
# Load the theme I want
include themes/bluloco-dark.conf


# Layout
# Use the grid layout
enabled_layouts grid


# Keybinds

# Keybinds to zoom in
map ctrl+plus change_font_size all +2.0
map ctrl+equal change_font_size all +2.0
map ctrl+kp_add change_font_size all +2.0

# Keybinds to zoom out
map ctrl+minus change_font_size all -2.0
map ctrl+kp_subtract change_font_size all -2.0

# Keybind to open a new window
map ctrl+shift+enter launch --cwd=current
map ctrl+shift+l launch --cwd=current

# Keybind to move to the neighbouring windows
map ctrl+alt+k neighboring_window up
map ctrl+alt+j neighboring_window down
map ctrl+alt+h neighboring_window left
map ctrl+alt+l neighboring_window right

# Keybind to reload the configuration
map ctrl+shift+r load_config_file

# vi: ft=conf
