# {{ $pkgListDir := joinPath .chezmoi.workingTree "package-lists" }}
#
[Trigger]
Operation = Install
Operation = Remove
Type = Package
Target = *

[Action]
Description = Updating package lists...
When = PostTransaction
Exec = /bin/sh -c '/usr/bin/pacman -Qqen > {{ joinPath $pkgListDir "pkglist.txt" }} && /usr/bin/pacman -Qqem > {{ joinPath $pkgListDir "aur-pkglist.txt" }}'

# The list of packages skips the -t flag as optional dependencies
# are also excluded from the list, which is not great,
# since you usually have to install optional dependencies explicitly.

# vi: ft=confini
