/*
 * GTK Colours
 *
 * Reference:
 * https://github.com/mylinuxforwork/dotfiles/blob/main/share/dotfiles/.config/matugen/templates/gtk-colors.css
 * https://github.com/danihek/hellwal/blob/main/templates/gtk.css
 */

@define-color accent_color {{ color4 }};
@define-color accent_fg_color {{ color2 | darken(0.2) }};
@define-color accent_bg_color {{ color4 }};
@define-color window_bg_color {{ color0 | darken(0.2) }};
@define-color window_fg_color {{ color7 }};
@define-color headerbar_bg_color {{ color0 | darken(0.2) }};
@define-color headerbar_fg_color {{ color7 }};
@define-color popover_bg_color {{ color0 | darken(0.2) }};
@define-color popover_fg_color {{ color7 }};
@define-color view_bg_color {{ color0 }};
@define-color view_fg_color {{ color7 }};
@define-color card_bg_color {{ color0 }};
@define-color card_fg_color {{ color7 }};
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

/* Styles to remove the rounded borders
 * as it is handled at the compositor level
 */
window.csd, dialog.csd,
window.csd > decoration,
window.csd > decoration-overlay {
    border: 0;
}
window.csd:backdrop, dialog:backdrop.csd,
window.csd:backdrop > decoration,
window.csd:backdrop > decoration-overlay {
    border: 0;
}
window.csd.maximized, window.csd.maximized > decoration, window.csd.maximized > decoration-overlay,
window.csd.maximized > headerbar, window.csd.maximized > .top-bar, window.csd.maximized > .titlebar,
window.csd.fullscreen, window.csd.fullscreen > decoration, window.csd.fullscreen > decoration-overlay,
window.csd.fullscreen > headerbar, window.csd.fullscreen > .top-bar, window.csd.fullscreen > .titlebar,
tooltip > decoration, tooltip > decoration-overlay {
    border: none;
    outline: none;
    border-radius: 0px;
}
window.csd.tiled, window.csd.tiled-top, window.csd.tiled-right, window.csd.tiled-bottom, window.csd.tiled-left,
window.csd.tiled > decoration, window.csd.tiled > decoration-overlay,
window.csd.tiled > headerbar, window.csd.tiled > .top-bar, window.csd.tiled > .titlebar {
    border-radius: 0px;
}
window.csd .tiled-top .tiled-right .tiled-bottom .tiled-left {
  border: none;
  outline: none;
}
window.csd, dialog.csd,
decoration, decoration-overlay {
    border-radius: 0px;
}
decoration, decoration-overlay,
headerbar, .top-bar, .titlebar {
    border-radius: 0px;
}
window.unified {
    border-radius: 0px;
}
