#![enable(implicit_some, unwrap_newtypes, unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    cava: (
        orientation: Bottom,

        // The bar colours are the exact same as the cava configuration.
        // They are doubled because each colour takes up 1 row.
        bar_color: Rows([
            "{{ color15 if 'light' in palette else color1 }}",
            "{{ color15 if 'light' in palette else color1 }}",
            "{{ color5 if 'light' in palette else color3 }}",
            "{{ color5 if 'light' in palette else color3 }}",
            "{{ color3 if 'light' in palette else color11 }}",
            "{{ color3 if 'light' in palette else color11 }}",
            "{{ color2 if 'light' in palette else color4 }}",
            "{{ color2 if 'light' in palette else color4 }}",
            "{{ color10 if 'light' in palette else color12 }}",
            "{{ color10 if 'light' in palette else color12 }}",
            "{{ color8 if 'light' in palette else color6 }}",
            "{{ color8 if 'light' in palette else color6 }}",
            "{{ color9 if 'light' in palette else color13 }}",
            "{{ color9 if 'light' in palette else color13 }}",
            "{{ color0 if 'light' in palette else color15 }}",
            "{{ color0 if 'light' in palette else color15 }}",
        ])
    ),
    format_tag_separator: " | ",

    // The ratio of 1, 2, 3 from Yazi and lf
    browser_column_widths: [17, 34, 49],
    background_color: None,
    text_color: "{{ color8 | blend(foreground) }}",
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "{{ color6 }}"),
    preview_metadata_group_style: (fg: "{{ color6 }}", modifiers: "Bold"),
    tab_bar: (
        active_style: (
            fg: "{{ color8 | lighten(0.4) }}",
            bg: "{{ color1 }}",
            modifiers: "Bold"
        ),
        inactive_style: (fg: "{{ color6 }}"),
    ),
    highlighted_item_style: (fg: "{{ color12 }}", modifiers: "Bold"),
    current_item_style: (
        fg: "{{ color8 | lighten(0.4) }}",
        bg: "{{ color1 }}",
        modifiers: "Bold",
    ),
    borders_style: (fg: "{{ color12 }}"),
    highlight_border_style: (fg: "{{ color12 }}"),
    symbols: (
        song: "󰝚",
        dir: "󱍙",
        playlist: "󰲸",
        marker: "󰷞 ",
        ellipsis: "...",
        song_style: (fg: "{{ color3 | blend('#FF00FF') }}"),
        dir_style: (fg: "{{ color12 | blend('#00FFFF') }}"),
        playlist_style: (fg: "{{ color5 | blend('#008000') }}"),
    ),
    level_styles: (
        info: (fg:
            "{{ color3 | blend(color1) | blend('#800080') | lighten(0.3) }}"
        ),
        warn: (fg: "{{ color8 | blend('#FFFF00') }}"),
        error: (fg: "{{ color12 | blend('#FF0000') }}"),
        debug: (fg: "{{ color4 | blend('#00FF00') }}"),
        trace: (fg: "{{ color3 | blend('#FF00FF') }}"),
    ),
    progress_bar: (
        symbols: [
            "",
            "█",
            " ",
            "",
            ""
        ],
        track_style: (fg: "{{ color11 }}"),
        elapsed_style: (fg: "{{ color11 }}"),
        thumb_style: (fg: "{{ color11 }}"),
        use_track_when_empty: true,
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "{{ color7 }}"),
        ends_style: (fg: "{{ color6 }}"),
        thumb_style: (fg: "{{ color12 }}"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "15%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "40%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "{{ color13 }}"),
                default: (
                    kind: Text("Unknown Album"), style: (fg: "{{ color13 }}")
                )
            ),
            width: "25%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "20%",
            alignment: Right,
        ),
    ],
    components: {
        "elapsed_and_bitrate": Pane(Property(
            align: Right,
            content: [
                (kind: Property(Status(Elapsed))),
                (kind: Text(" / ")),
                (kind: Property(Status(Duration))),
                (kind: Group([
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)")),
                ])),
            ],
        )),
        "input_mode": Pane(Property(
            content: [
                (
                    kind: Transform(Replace(
                        content: (kind: Property(Status(InputMode()))),
                        replacements: [
                            (
                                match: "Normal",
                                replace: (kind: Text(" NORMAL "),
                                style: (
                                    fg: "{{ color8 | lighten(0.3) }}",
                                    bg: "{{ color10 | blend('#0000FF') }}"
                                ))
                            ),
                            (
                                match: "Insert",
                                replace: (kind: Text(" INSERT "),
                                style: (
                                    fg: "{{ color8 | blend(foreground) }}",
                                    bg: "{{ color4 | blend('#00FF00') }}"
                                ))
                            ),
                ])))
            ], align: Center
        )),
        "progress_bar": Split(
            direction: Horizontal,
            panes: [
                (
                    size: "3",
                    pane: Pane(Property(content:
                        [
                            (kind: Text(" ")),
                            (kind: Property(Status(StateV2(
                                playing_label: "",
                                paused_label: "",
                                stopped_label: "")))
                            ),
                        ], align: Left)),
                ),
                (
                    size: "100%",
                    pane: Pane(ProgressBar),
                ),
                (
                    size: "25",
                    pane: Component("elapsed_and_bitrate"),
                )
            ],
        ),
        "states": Pane(Property(
            align: Right,
            content: [
                (kind: Property(Status(RepeatV2(
                    on_label: " ",
                    off_label: " ",
                    on_style: (
                        fg: "{{ color10 if 'light' in palette else color15 }}",
                        modifiers: "Bold",
                    ),
                    off_style: (fg: "{{ color12 }}"),
                )))),
                (kind: Property(Status(RandomV2(
                    on_label: " ",
                    off_label: " ",
                    on_style: (
                        fg: "{{ color10 if 'light' in palette else color15 }}",
                        modifiers: "Bold",
                    ),
                    off_style: (fg: "{{ color12 }}"),
                )))),
                (kind: Property(Status(ConsumeV2(
                    on_label: "󰮯 ",
                    off_label: "󰮯 ",
                    oneshot_label: "󰲠 ",
                    on_style: (
                        fg: "{{ color10 if 'light' in palette else color15 }}",
                        modifiers: "Bold",
                    ),
                    off_style: (fg: "{{ color12 }}"),
                    oneshot_style: (
                        fg: "{{ color10 if 'light' in palette else color15 }}",
                        modifiers: "Bold",
                    ),
                )))),
                (kind: Property(Status(SingleV2(
                    on_label: "󰑘 ",
                    off_label: "󰑘 ",
                    oneshot_label: "󰼏 ",
                    on_style: (
                        fg: "{{ color10 if 'light' in palette else color15 }}",
                        modifiers: "Bold",
                    ),
                    off_style: (fg: "{{ color12 }}"),
                    oneshot_style: (
                        fg: "{{ color10 if 'light' in palette else color15 }}",
                        modifiers: "Bold"
                    ),
                )))),
            ],
        )),
        "volume": Split(
            direction: Horizontal,
            panes: [
                (size: "1", pane: Pane(Property(content: [(kind: Text(""))]))),
                (
                    size: "100%",
                    pane: Pane(Volume(kind: Slider(
                        symbols: (filled: "─", thumb: "●", track: "─"),
                        track_style: (fg:
                            "{{ color7 }}"
                        ),
                        thumb_style: (fg:
                            "{{ color1 if 'light' in palette else color14 }}"
                        ),
                        filled_style: (fg:
                            "{{ color2 if 'light' in palette else color13 }}"
                        ),
                    ))),
                ),
                (size: "1", pane: Pane(Property(content: [(kind: Text(""))]))),
                (
                    size: "3",
                    pane: Pane(Property(
                        align: Right,
                        content: [(
                            kind: Property(Status(Volume)),
                            style: (fg:
                                "{{ color2 if 'light' in palette else color13 }}"
                            )
                        )]
                    ))
                ),
                (
                    size: "1",
                    pane: Pane(Property(
                        content: [(
                            kind: Text("%"),
                            style: (fg:
                                "{{ color2 if 'light' in palette else color13 }}"
                            ),
                        )]
                    ))
                ),
            ]
        ),
        "header_left": Split(
            direction: Vertical,
            panes: [
                (
                    size: "1",
                    pane: Pane(Property(
                        align: Left,
                        content: [
                            (
                                kind: Property(Widget(ScanStatus)),
                                style: (fg: "{{ color12 }}"),
                            ),
                        ]
                    ))
                ),
                (
                    size: "1",
                    pane: Pane(Property(
                        align: Left,
                        content: [
                            (
                                kind: Property(Song(Artist)),
                                style: (
                                    fg: "{{ color6 }}",
                                    modifiers: "Bold",
                                ),
                                default: (
                                    kind: Text("Unknown"),
                                    style: (
                                        fg: "{{ color6 }}",
                                        modifiers: "Bold",
                                    )
                                )
                            ),
                        ]
                    ))
                ),
            ],
        ),
        "header_centre": Split(
            direction: Vertical,
            panes: [
                (
                    size: "1",
                    pane: Pane(Property(
                        align: Center,
                        content: [
                            (
                                kind: Property(Song(Title)),
                                style: (modifiers: "Bold"),
                                default: (
                                    kind: Text("No Song"),
                                    style: (modifiers: "Bold"),
                                ),
                            ),
                        ]
                    ))
                ),
                (
                    size: "1",
                    pane: Pane(Property(
                        align: Center,
                        content: [
                            (
                                kind: Property(Song(Album)),
                                default: (
                                    kind: Text("Unknown Album")
                                ),
                            ),
                        ]
                    ))
                ),
            ],
        ),
        "header_right": Split(
            direction: Vertical,
            panes: [
                (size: "1", pane: Component("volume")),
                (size: "1", pane: Component("states")),
            ],
        ),
        "header": Split(
            direction: Horizontal,
            panes: [
                (size: "23", pane: Component("header_left")),
                (size: "100%", pane: Component("header_centre")),
                (size: "23", pane: Component("header_right")),
            ],
        ),
        "footer": Split(
            direction: Horizontal,
            panes: [
                (
                    size: "12",
                    borders: "ALL",
                    border_symbols: Inherited(
                        parent: Rounded, top_right: "┬", bottom_right: "┴"
                    ),
                    pane: Component("input_mode"),
                ),
                (
                    size: "100%",
                    borders: "TOP | BOTTOM | RIGHT",
                    border_symbols: Rounded,
                    border_title: [
                        (kind: Text(" ")),
                        (kind: Property(Status(QueueLength()))),
                        (kind: Text(" songs / ")),
                        (kind: Property(Status(QueueTimeTotal()))),
                        (kind: Text(" total time "))
                    ],
                    border_title_alignment: Right,
                    pane: Component("progress_bar"),
                )
            ]
        )
    },
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Component("header"),
                size: "2",
            ),
            (
                pane: Pane(Tabs),
                borders: "ALL",
                border_symbols: Rounded,
                size: "3",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(Empty()),
                size: "1",
            ),
            (
                pane: Component("footer"),
                size: "3",
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    lyrics: (
        timestamp: false
    )
)
